block content
  //div(ng-controller="sfmsIndexController")
  jason-pagecontent(action='/app' conf='paginationConf' type="page")
    div.page-header
      div.buttons.text-right
        a.btn.btn-success(ng-href='')
          i.icon.icon-plus 新建
        button(ng-click='search()' class='btn btn-default')刷新
    div.page-content
      form.form-inline(role='form')
        div.form-group
          label.sr-only 名称
          input.form-control(placeholder='名称' ng-model='f.text')
        div.form-group
          label.sr-only 所属类别
          input.form-control(placeholder='所属类别')
        button.btn.btn-primary(ng-click='search()')确定
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th AccountID
            th ApplicationID
            th UserName
            th Is Active
            th Is Active
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{x.ID}}
            td {{x.ApplicationCode}}
            td {{x.ApplicationName}}
            td {{x.IsActive}}
            td {{x.IsActive}}
            td
              a.btn.btn-primary( href='#/sfms/appedit/:{{x.ID}}') 编辑
      div.pull-right
        jason-pagination(conf='paginationConf')

