link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(action='/app' conf='paginationConf' ng-controller="baseController")
    span 
      h2 应用新增
    form(method="post",name="appinfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") the id of application. 下拉
          td
            select(id="search",value="",ng-model='',style="width:163px;height:30px",)
              option SfmsID
              option JinkeBroIDxc
              option xxxID
        tr
          td(width="15%",class="tableleft") ID
          td
            input(type="text",name="ID",ng-model='app.ID',ng-minlength="7",ng-maxlength='7')
            &nbsp&nbsp
            
        tr
          td(width="15%",class="tableleft") the code of application.
          td
            input(type="text",name="ApplicationCode",ng-model='app.ApplicationCode')
            &nbsp&nbsp
            
           
        tr
          td(width="15%",class="tableleft") 	the name of application.
          td
            input(type="text",name="ApplicationName",ng-model="app.ApplicationName",ng-minlength="6",ng-maxlength='12')
            &nbsp&nbsp
           
           

        tr
          td(width="15%",class="tableleft") 	the description of application.
          td
            input(type="text",name="Memo",ng-model='app.Memo',ng-minlength="6",ng-maxlength='12')
            &nbsp&nbsp
          
            
        tr
          td(class="tableleft") 	whether the application is active.
          td
            input(type="radio",name="IsActive",value="1",ng-model="app.IsActive",checked)
            有效
            &nbsp&nbsp            
            input(type="radio",name="IsActive",ng-model="app.IsActive",value="0")
            无效

        tr
          td(class="tableleft")
          td
            button.btn.btn-primary(type="submit",ng-click="submitappa(app)") 添加
 
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-success(href='#sfms/app') 返回列表



 include ../shared/footer.jade  
      