link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 财务审核
    jason-form(method="post",source='/sfms/api/finance' conf='paginationConf' tocc="FIName,FIType,InOutType,ProjectID,UserID")
      table.table.table-bordered.table-hover.definedwidth.m10      
        tr
          td(width="15%",class="tableleft") 财务名称
          td
            span(ng-model='paginationConf.formdata.FIName') {{paginationConf.formdata.FIName}}
            
        tr
          td(width="15%",class="tableleft") 财务类型
          td
            span(ng-model='paginationConf.formdata.FIType') {{paginationConf.formdata.FIType}}
            
        tr
          td(width="15%",class="tableleft") 财务收支
          td
            span(ng-model='paginationConf.formdata.InOutType') {{paginationConf.formdata.InOutType}}
            
        tr
          td(width="15%",class="tableleft") 财务金额 
          td
            span(ng-model="paginationConf.formdata.FIPrice") {{paginationConf.formdata.FIPrice}}
          

        tr
          td(width="15%",class="tableleft") 所属项目
          td
            span(ng-model='paginationConf.formdata.ProjectID' ) {{paginationConf.formdata.ProjectID}}

        tr
          td(width="15%",class="tableleft") 相关用户
          td
            span(ng-model='paginationConf.formdata.UserID' ) {{paginationConf.formdata.UserID}}
     
        tr
          td(width="15%",class="tableleft") 申请时间
          td
            span( ng-model='paginationConf.formdata.CreateTime') {{paginationConf.formdata.CreateTime}}
            
        tr
          td(width="15%",class="tableleft") 财务描述 
          td
            span(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.Remark',ng-maxlength='200',required) {{paginationConf.formdata.Remark}}
            

        tr
          td(class="tableleft") 是否通过
          td
            input(type="radio",name="FIStatus",value="通过",ng-model="paginationConf.formdata.FIStatu",checked,style="width:15px;height:15px")
            &nbsp通过
            &nbsp&nbsp          
            input(type="radio",name="FIStatus",ng-model="paginationConf.formdata.FIStatu",value="不通过",style="width:15px;height:15px")
            &nbsp不通过

        tr
          td(width="15%",class="tableleft") 财务描述 
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.Memo',ng-maxlength='200',required) 
            



        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/sfms/api/finance/check')") 确认
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/financeManage') 返回列表




      