link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 财务审核
    jason-form(method="post",source='/sfms/api/finance' conf='paginationConf' tocc="FIName,FIType,InOutType,ProjectID,UserID")
      table.table.table-bordered.table-hover.definedwidth.m10      
        tr
          td(width="15%",class="tableleft") 财务名称
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.FIName' source='/datadict/plain' selectparams='{"Category":"dc_finame"}' stext='DictionaryValue' svalue='DictionaryID')
            
        tr
          td(width="15%",class="tableleft") 财务类型
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.FIType' source='/datadict/plain' selectparams='{"Category":"dc_fitype"}' stext='DictionaryValue' svalue='DictionaryID')
            
        tr
          td(width="15%",class="tableleft") 财务收支
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.InOutType' source='/datadict/plain' selectparams='{"Category":"dc_fiinouttype"}' stext='DictionaryValue' svalue='DictionaryID')
            
        tr
          td(width="15%",class="tableleft") 财务金额 
          td
            input(type="number",name="projectPrice",ng-model="paginationConf.formdata.FIPrice",ng-maxlength='10',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.Memo.$error.maxlength && paginationConf.formdata.Memo.$touched") 金额最多10位

        tr
          td(width="15%",class="tableleft") 所属项目
          td
            jason-select.form-control(style="width:120px;height:34px;" ng-model='paginationConf.formdata.ProjectID' source='/sfms/api/project' stext='ProjectName' svalue='ID')

        tr
          td(width="15%",class="tableleft") 相关用户
          td
            jason-select.form-control(style="width:120px;height:34px;" ng-model='paginationConf.formdata.UserID' source='/backuser' stext='UserName' svalue='AccountID')
     
        tr
          td(width="15%",class="tableleft") 申请时间
          td
            input(placeholder='用户名'  style="width:160px;height:34px;" ng-model='paginationConf.formdata.CreateTime' source='/backuser' stext='UserName' svalue='AccountID')
            
        tr
          td(width="15%",class="tableleft") 财务描述 
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.remark',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.Memo.$error.maxlength && paginationConf.formdata.Memo.$touched") 备注最多200位

        tr
          td(class="tableleft") 是否通过
          td
            input(type="radio",name="FIStatus",value="1",ng-model="paginationConf.formdata.FIStatus",checked)
            &nbsp通过
            &nbsp&nbsp          
            input(type="radio",name="FIStatus",ng-model="paginationConf.formdata.FIStatus",value="0")
            &nbsp不通过
        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/finance/check')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/financeManage') 返回列表




      