link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/sfms/api/finance',conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span.title  财务饼状图
        hr
        ul.pull-left 
          li
            a(ng-click='changeChart("inOutSum")' ) 收入支出饼状图
          li
            a(ng-click='changeChart("inDetail")' ) 收入明细饼状图
          li
            a(ng-click='changeChart("outDetail")' ) 支出明细饼状图
        div.pull-right
         span {{chartName}}
         jason-canvas
      