link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/sfms/api/finance',conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span.title  财务饼状图
        hr
        p
            jason-canvas(source='inOutSum')
        p(style='height:0px') 
            jason-canvas(source='inDetail')
        p(style='height:0px')  
            jason-canvas(source='outDetail')
            
        div.pull-right
         
        