link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/sfms/api/kpi/person' conf='paginationConf')
    div.page-content
      ng-form.form-inline
        span.title  绩效管理
        div.buttons.pull-right
          label.form-group.my-form-group 
            select(ng-model='f.KPIStatus')
              option 待审核
              option 已审核              
              option
          label.form-group.my-form-group 
            jason-select.ext(placeholder='绩效名称' ng-model='f.KPIName' source='/datadict/plainnof?Category=dc_kpiname' selectparams='{"Category":"dc_kpiname"}' stext='DictionaryValue' svalue='DictionaryValue')
          label.form-group.my-form-group 
            jason-select.ext(placeholder='绩效类型' ng-model='f.KPIType' source='/datadict/plainnof?Category=dc_kpitype' selectparams='{"Category":"dc_kpitype"}' stext='DictionaryValue' svalue='DictionaryValue')
          label.form-group.my-form-group 
            jason-select.ext(placeholder='所属项目' ng-model='f.ProjectID' source='/sfms/api/project' stext='ProjectName' svalue='ID')
          label.form-group.my-form-group 
            input.form-control(type='date' ng-model='f.StartTime')
          label.form-group.my-form-group
            a.btn.btn-sm.btn-primary(ng-click='search()')
              i.icon.icon-search   查询
            a.btn.btn-sm.btn-success(ng-href='#/sfms/kpiAdd')
              i.icon.icon-plus 新建
            a.btn.btn-sm.btn-info(ng-click='search()' class='btn btn-sm btn-default') 
              i.icon.icon-repeat  刷新
      hr
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th 序号
            th 绩效名称          
            th 绩效类型
            th 绩效分
            th 所属项目
            th 申请人       
            th 申请时间
            th 审核状态
            th 审核人
            th 审核时间
            th 备注    
            th(style="width:80px;") 操作
        tbody
          tr(ng-repeat="x in datas") 
            td {{$index+1}}
            td {{x.KPIName}}            
            td {{x.KPIType}}
            td {{x.KPIScore}}
            td {{x.projectName}}            
            td {{x.UserName}}
            td {{x.CreateTime}}
            td {{x.KPIStatus}}
            td {{x.CheckUser}}
            td {{x.CheckTime}}
            td {{x.Remark}}            
            td
              a(href='#/sfms/kpiEdit/?ID={{x.ID}}' )
                i.icon.icon-edit 修改

            
      div.pull-right
        jason-pagination(conf='paginationConf')


