link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 绩效新增
    form(method="post",name="kpiAdd" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 绩效名称
          td
            jason-select.input( ng-model='formdata.KPIName' source='/datadict/plain' selectparams='{"Category":"dc_kpiname"}' stext='DictionaryValue' svalue='DictionaryID')
           
        tr
          td(width="15%",class="tableleft") 绩效类型
          td
            jason-select.input( ng-model='formdata.KPIType' source='/datadict/plain' selectparams='{"Category":"dc_kpitype"}' stext='DictionaryValue' svalue='DictionaryID')
           
        tr
          td(width="15%",class="tableleft") 所属项目
          td
            jason-select.input( ng-model='formdata.ProjectID' source='/sfms/api/project' stext='ProjectName' svalue='ID')
            
        tr
          td(width="15%",class="tableleft") 绩效分
          td
            input(type="number",name="KPIScore",ng-model="formdata.KPIScore",ng-maxlength='10',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-if="kpiAdd.KPIScore.$error.maxlength && kpiAdd.KPIScore.$touched") 绩效分最多10位
        
        tr
          td(width="15%",class="tableleft") 用户名
          td
            jason-select.input( ng-model='formdata.UserID' source='/backuser' stext='UserName' svalue='AccountID')
            
        
        tr
          td(width="15%",class="tableleft") 绩效备注
          td
            textarea(type="textview",rows="5",cols="30",name="Remark",ng-model='formdata.Remark',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-if="kpiAdd.Remark.$error.maxlength && kpiAdd.Remark.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/sfms/api/kpi')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/kpi') 返回列表




      