link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(action='/backmenu' conf='paginationConf' ng-controller="baseController")
    span 
      h2 绩效审核
    form(method="post",name="appinfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 绩效负责人
          td
            jason-select.form-control(placeholder='用户名'  style="width:120px;height:34px;" ng-model='f.UserName' source='/backuser' stext='UserName' svalue='UserName')

           
        tr
          td(width="15%",class="tableleft") 绩效名称
          td
            input(type="textview",name="projectName",ng-model="formdata.projectName",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="formdata.projectName.$error.maxlength && formdata.projectName.$touched") 应用名称最多50位
       
        
        tr
          td(width="15%",class="tableleft") 绩效截止时间
          td
            input(type="date",name="projectEndTime",ng-model="formdata.projectEndTime",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="formdata.projectEndTime.$error.maxlength && formdata.projectEndTime.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 绩效经费预算
          td
            input(type="number",name="projectPrice",ng-model="formdata.projectPrice",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="formdata.projectPrice.$error.maxlength && formdata.projectPrice.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 绩效备注
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='formdata.Memo',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-show="formdata.Memo.$error.maxlength && formdata.Memo.$touched") 备注最多200位

        tr
            td(class="tableleft") 审核结果
            td
              input(type="radio",name="IsActive",value="1",ng-model="formdata.IsActive",checked)
              &nbsp 通过
              &nbsp         
              input(type="radio",name="IsActive",ng-model="formdata.IsActive",value="0")
              &nbsp不通过

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/app')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/kpi') 返回列表
       



      