link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 绩效编辑
    jason-form(method="post",source='/sfms/api/kpi/person' conf='paginationConf' tocc="KPIName,KPIType,UserID")
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 绩效名称
          td
            jason-select.input( ng-model='paginationConf.formdata.KPIName' source='/datadict/plain' selectparams='{"Category":"dc_kpiname"}' stext='DictionaryValue' svalue='DictionaryID')
           
        tr
          td(width="15%",class="tableleft") 绩效类型
          td
            jason-select.input( ng-model='paginationConf.formdata.KPIType' ource='/datadict/plain' selectparams='{"Category":"dc_kpitype"}' stext='DictionaryValue' svalue='DictionaryID')
            
        tr
          td(width="15%",class="tableleft") 绩效分
          td
            input(type="number",name="projectEndTime",ng-model="paginationConf.formdata.KPIScore",ng-maxlength='10',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.projectEndTime.$error.maxlength && paginationConf.formdata.projectEndTime.$touched") 绩效分最多10位
        
        tr
          td(width="15%",class="tableleft") 用户名
          td
            jason-select.form-control( ng-model='paginationConf.formdata.UserID' source='/backuser' stext='UserName' svalue='AccountID')
            
        tr
          td(width="15%",class="tableleft") 绩效备注
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.Remark',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.Memo.$error.maxlength && paginationConf.formdata.Memo.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/sfms/api/kpi')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/kpi') 返回列表




      