link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 绩效审核
    jason-form(method="post",source='/sfms/api/kpi' conf='paginationConf' tocc="KPIName,KPIType,UserID")
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 绩效名称
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.KPIName' source='/datadict/plain' selectparams='{"Category":"dc_kpiname"}' stext='DictionaryValue' svalue='DictionaryID')

           
        tr
          td(width="15%",class="tableleft") 绩效类型
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.KPIType' source='/datadict/plain' selectparams='{"Category":"dc_kpitype"}' stext='DictionaryValue' svalue='DictionaryID')
           
        tr
          td(width="15%",class="tableleft") 绩效分
          td
            input(type="number",name="projectEndTime",ng-model="paginationConf.formdata.KPIScore",ng-maxlength='50',style="width:160px;height:30px",required)
            
        tr
          td(width="15%",class="tableleft") 用户名
          td
            jason-select.form-control(style="width:160px;height:34px;" ng-model='paginationConf.formdata.UserID' source='/backuser' stext='UserName' svalue='AccountID')
            
        tr
          td(width="15%",class="tableleft") 申请时间
          td
            input(style="width:160px;height:34px;" ng-model='paginationConf.formdata.CreateTime' source='/backuser' stext='UserName' svalue='AccountID')
            
        tr
          td(width="15%",class="tableleft") 绩效备注
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.Remark',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.Memo.$error.maxlength && paginationConf.formdata.Memo.$touched") 备注最多200位

        tr
            td(class="tableleft") 审核结果
            td
              input(type="radio",name="IsActive",value="1",ng-model="paginationConf.formdata.IsActive",checked)
              &nbsp 通过
              &nbsp         
              input(type="radio",name="IsActive",ng-model="paginationConf.formdata.IsActive",value="0")
              &nbsp不通过

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/app')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/kpiManage') 返回列表
       



      