block content
  //div(ng-controller="sfmsIndexController")
  jason-pagecontent(action='/menu/plain' conf='paginationConf')
    div.page-header
      div.buttons.text-right
        a.btn.btn-success(ng-href='')
          i.icon.icon-plus 新建
        button(ng-click='search()' class='btn btn-default')刷新
    div.page-content
      ng-form.form-inline
        label.form-group.my-form-group
          input.form-control(placeholder='名称' ng-model='f.text')
        label.form-group.my-form-group
          input.form-control(placeholder='所属类别')
        label.form-group.my-form-group
          button.btn.btn-primary(ng-click='search()')确定
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th ApplicationID
            th MenuID
            th MenuName
            th Url
            th Memo
            th IsActive
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{x.ApplicationID}}
            td {{x.MenuID}}
            td {{x.MenuName}}
            td {{x.Url}}
            td {{x.Memo}}
            td {{x.IsActive}}
            td
              a(ng-href='')
                i.icon.icon-edit 编辑
              a(ng-href='')
                i.icon.icon-trash 删除
      div.pull-right
        jason-pagination(conf='paginationConf')
