block content
  jason-pagecontent(action='/menu/plain' conf='paginationConf' style='button{height:20px;}')
    div.page-content
      ng-form.form-inline
        label.form-group.my-form-group
          input.form-control(placeholder='ApplicationID'  style="width:100px;" ng-model='f.ApplicationID')
        label.form-group.my-form-group
          input.form-control(placeholder='MenuID' style="width:100px;" ng-model='f.MenuID')  
        label.form-group.my-form-group
          input.form-control(placeholder='UserName'  style="width:100px;" ng-model='f.UserName')
        label.form-group.my-form-group
          input.form-control(placeholder='Is Active'  style="width:100px;" ng-model='f.IsActive')
        label.form-group.my-form-group
          input.form-control(placeholder='CreateTime'  style="width:100px;" ng-model='f.CreateTime')
        label.form-group.my-form-group
          input.form-control(placeholder='CreateUserID'  style="width:100px;" ng-model='f.CreateUserID')

        label.form-group.my-form-group
          button.btn.btn-sm.btn-primary(ng-click='search()') 确定
        div.buttons.pull-right
          a.btn.btn-sm.btn-success(ng-href='#/sfms/menuinfo')
            i.icon.icon-plus 新建
          button(ng-click='search()' class='btn btn-sm	 btn-default') 刷新
      table.table.table-striped.table-bordered.text-center
        thead
          tr 
            th 序号
            th ApplicationID
            th MenuID
            th MenuName
            th Url
            th Memo
            th IsActive
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{$index+1}}
            td {{x.ApplicationID}}
            td {{x.MenuID}}
            td {{x.MenuName}}
            td {{x.Url}}
            td {{x.Memo}}
            td {{x.IsActive}}
            td
              a(ng-href='')
                i.icon.icon-edit 编辑
              a(ng-click='remove($index)')
                i.icon.icon-trash 删除
      div.pull-right
        jason-pagination(conf='paginationConf')
