link(rel='stylesheet' href="css/backend/role.css")
link(rel="stylesheet" href="bower_components/amazeui/amazeui.css")
 
block content
  div.container-fluid(conf='paginationConf' ng-controller="baseController")
    span 
      h2 项目编辑
   jason-form(method="post",name="appinfo" source='/sfms/api/project' conf='paginationConf')
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 项目负责人
          td
            jason-select.form-control(placeholder='用户名'  style="width:160px;height:34px;" ng-model='paginationConf.formdata.ProjectManageID' source='/backuser' stext='UserName' svalue='AccountID')

           
        tr
          td(width="15%",class="tableleft") 项目名称
          td
            input(type="textview",name="projectName",ng-model="paginationConf.formdata.ProjectName",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.ProjectName.$error.maxlength && paginationConf.formdata.ProjectName.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 项目成员 
          td
            table.table-bordered.table-hover
             tr
               td(style="width:160px;height:30px") 成员职责
               td(style="width:160px;height:30px") 成员姓名
             tr 
               td
                 input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.data.Duty1",ng-maxlength='50',style="width:160px;height:30px",required)
               td
                 jason-select.form-control(data-am-selected multiple placeholder='用户名' style="width:120px;height:34px;" ng-model='paginationConf.formdata.data.UserName1' source='/backuser' stext='UserName' svalue='UserName')
             tr 
               td
                 input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.data.Duty2",ng-maxlength='50',style="width:160px;height:30px",required)
               td
                 jason-select.form-control(data-am-selected multiple placeholder='用户名'  style="width:120px;height:34px;" ng-model='paginationConf.formdata.data.UserName2' source='/backuser' stext='UserName' svalue='UserName')
             tr 
               td
                 input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.data.Duty3",ng-maxlength='50',style="width:160px;height:30px",required)
               td
                 jason-select.form-control(data-am-selected multiple placeholder='用户名'  style="width:120px;height:34px;" ng-model='paginationConf.formdata.data.UserName' source='/backuser' stext='UserName' svalue='UserName')
     

        tr
          td(width="15%",class="tableleft") 项目截止时间
          td
            input(type="date",name="projectEndTime",ng-model="paginationConf.formdata.ProjectEndTime",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.ProjectEndTime.$error.maxlength && paginationConf.formdata.ProjectEndTime.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 项目经费预算
          td
            input(type="number",name="projectPrice",ng-model="paginationConf.formdata.ProjectPrice",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.ProjectPrice.$error.maxlength && paginationConf.formdata.ProjectPrice.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 项目进度
          td
            input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.ProjectTimeLine",ng-maxlength='50',style="width:160px;height:30px",required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.ProjectPrice.$error.maxlength && paginationConf.formdata.ProjectPrice.$touched") 应用名称最多50位
        
        tr
          td(width="15%",class="tableleft") 项目状态
          td
             select(type="textview",ng-model='paginationConf.formdata.ProjectStatus',style="width:160px;height:30px",required)
                option(selected = "selected") 待完成
                option 结项
     
     
        tr
          td(width="15%",class="tableleft") 项目描述 
          td
            textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.ProjectDesc',ng-maxlength='200',required)
            &nbsp&nbsp
            small.error(ng-show="paginationConf.formdata.ProjectDesc.$error.maxlength && paginationConf.formdata.ProjectDesc.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/sfms/api/project')") 确认修改
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/project') 返回列表

script(src="http://cdn.amazeui.org/amazeui/2.7.2/js/amazeui.js")




      