link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(ng-controller="baseController")
    span 
      h2 项目备注编辑(普通)
    jason-form(method="post",name="appInfo" source='/sfms/api/projectremark' conf='paginationConf' tocc="ProjectID")
       table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 所属项目
          td
            jason-select.input( ng-model='paginationConf.formdata.ProjectID' source='/sfms/api/project' stext='ProjectName' svalue='ID')

        tr
          td(width="15%",class="tableleft") 	备注（可选） 
          td
            textarea(type="textview",rows="10",cols="30",ng-model='paginationConf.formdata.Remark',ng-maxlength='200')
            small.error(ng-show="paginationConf.formdata.Remark.$error.maxlength && paginationConf.formdata.Remark.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/sfms/api/projectremark')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#/sfms/projectRemark',ng-click='search()') 返回列表




      