link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(conf='paginationConf')
    span 
      h2 项目备注新增(管理)
    form(method="post",name="remarkInfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 所属项目
          td
            jason-select.input(name='ProjectID',ng-model='formdata.ProjectID' source='/sfms/api/project/user' stext='ProjectName' svalue='ProjectID')

        tr
          td(width="15%",class="tableleft") 	备注（可选） 
          td
            textarea(type="textview",name="Remark",ng-model='formdata.Remark',rows="10",cols="30",ng-maxlength='200')
            &nbsp&nbsp
            small.error(ng-show="formdata.Remark.$error.maxlength && formdata.Remark.$touched") 备注最多200位

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/sfms/api/projectremark')") 添加
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#/sfms/projectManageRemark',ng-click='search()') 返回列表