link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(ng-controller="selectController")
    span 
      h2 项目编辑
    jason-form(method="post" name="projectEdit" source='/sfms/api/project' conf='paginationConf'  tocc="ProjectManageID,ApplicationName,RoleName,ClassID")
        table.table.table-bordered.table-hover.definedwidth.m10
          tr
            td(width="15%",class="tableleft") 项目负责人
            td
              jason-select.input( ng-model='paginationConf.formdata.ProjectManageID' source='/backuser' stext='UserName' svalue='AccountID')
            
          tr
            td(width="15%",class="tableleft") 项目名称
            td
              input(type="textview",name="projectName",ng-model="paginationConf.formdata.ProjectName",ng-maxlength='50',required)
              &nbsp&nbsp
              small.error(ng-show="projectEdit.ProjectName.$error.maxlength && projectEdit.ProjectName.$touched") 应用名称最多50位    

          tr
            td(width="15%",class="tableleft") 项目成员信息显示
            td
              table.table-bordered.table-hover
                tbody 
                    tr
                      td(style="width:170px;height:30px") 成员职责
                      td(style="width:170px;height:30px") 成员姓名
                      td(style="width:170px;height:30px") 成员账号
                      td(style="width:80px;height:30px") 操作
                tbody
                    tr(ng-repeat="a in paginationConf.formdata.userdata")
                      td(style="line-height:34px;font-size:18px;")  {{a.Duty}}
                      td( style="line-height:34px;font-size:18px;")  {{a.UserName}}
                      td( style="line-height:34px;font-size:18px;")  {{a.UserID}}
                      td 
                        button(ng-click="removeUser($index,'/sfms/api/projectuser')" style="width:80px;height:34px") 删除                 
                
          tr(ng-controller="selectController")
            td(width="15%",class="tableleft") 项目成员新增 
            td
              table.table-bordered.table-hover
                tbody 
                    tr
                      td(style="width:150px;height:30px") 成员职责
                      td(style="width:150px;height:30px") 成员姓名
                      td(style="width:80px;height:30px") 成员账号
                      td(style="width:80px;height:30px") 操作
                tbody
                    tr(ng-repeat="a in paginationConf.formdata.data")
                      td(ng-model=" paginationConf.formdata.data.duty" style="line-height:34px;font-size:18px;")  {{a.duty}}
                      td(ng-model=" paginationConf.formdata.data.userName" style="line-height:34px;font-size:18px;")  {{a.userName}}
                      td(ng-model=" paginationConf.formdata.data.userID" style="line-height:34px;font-size:18px;")  {{a.userID}}
                      td 
                        button(ng-click="resetUser(this)" style="width:80px;height:34px") 重置                  
                    tr 
                      td
                        input(type="textview",ng-model="user.duty",ng-maxlength='50',style="width:150px;height:34px")
                      td
                        select(ng-model='user.userIndex' ng-change= "userChanged()") 
                          option(ng-repeat="item in UserNames" value='{{$index}}') {{item.UserName}}
                      td
                        input(ng-model='user.userID')  
                      td 
                        button(ng-click="addUser(user)" style="width:80px;height:34px") 添加

          tr
            td(width="15%",class="tableleft") 项目截止时间
            td
              input(type="dateTime",name="projectEndTime",ng-model="paginationConf.formdata.ProjectEndTime",ng-maxlength='50',required)
            
          tr
            td(width="15%",class="tableleft") 项目经费预算
            td
              input(type="textview",name="projectPrice",ng-model="paginationConf.formdata.ProjectPrice",ng-maxlength='10',required)
              &nbsp&nbsp
              small.error(ng-show="projectEdit.ProjectPrice.$error.maxlength && projectEdit.ProjectPrice.$touched") 预算最多10位
          
          tr
            td(width="15%",class="tableleft") 项目进度
            td
              input(type="textview",name="ProjectTimeLine",ng-model="paginationConf.formdata.ProjectTimeLine",ng-maxlength='10',required)
              &nbsp&nbsp
              small.error(ng-show="projectEdit.ProjectTimeLine.$error.maxlength && projectEdit.ProjectTimeLine.$touched") 进度最多10位
          
          tr
            td(width="15%",class="tableleft") 项目状态
            td
              input(type="radio",name="IsActive",value="结项",ng-model='paginationConf.formdata.ProjectStatus',checked,style="width:15px;height:15px")
              &nbsp结项
              &nbsp&nbsp          
              input(type="radio",name="IsActive",ng-model="paginationConf.formdata.ProjectStatus",value="待完成",style="width:15px;height:15px")
              &nbsp待完成
        
      
          tr
            td(width="15%",class="tableleft") 项目描述 
            td
              textarea(type="textview",rows="5",cols="30",name="Memo",ng-model='paginationConf.formdata.ProjectDesc',ng-maxlength='200',required)
              &nbsp&nbsp
              small.error(ng-show="projectEdit.ProjectDesc.$error.maxlength && projectEdit.ProjectDesc.$touched") 描述最多200位

          tr
            td(class="tableleft")
            td
              button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/sfms/api/project')") 确认修改
              &nbsp&nbsp&nbsp&nbsp
              a.btn.btn-sm.btn-success(href='#sfms/projectLead',ng-click='search()') 返回列表






        