link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(ng-controller="baseController")
    span 
      h2 用户新增
    form(method="post",name="userInfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        //- tr
        //-   td(width="15%",class="tableleft") 用户ID
        //-   td
        //-     select(id="search",value="",ng-model='',style="width:163px;height:30px",)
        //-       option SfmsID
        //-       option JinkeBroIDxc
        //-       option xxxID
        tr
          td(width="15%",class="tableleft") 用户ID
          td
            input(type="text",name="ApplicationID",ng-model='user.ApplicationID',ng-minlength="7",ng-maxlength='7',required)
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.ApplicationID.$error.minlength && userInfo.ApplicationID.$touched" ) 用户ID为7位
            //- small.error(ng-show="userInfo.ApplicationID.$error.maxlength &&") 用户ID为7位
        tr
          td(width="15%",class="tableleft") 用户姓名
          td
            input(type="text",name="UserName",ng-model='user.UserName',required)
            &nbsp&nbsp
            
           
        tr
          td(width="15%",class="tableleft") 密码
          td
            input(type="text",name="Pwd",ng-model="user.Pwd",ng-minlength="6",ng-maxlength='12',required)
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.Pwd.$error.minlength") 密码至少6位
            //- small.error(ng-show="userInfo.Pwd.$error.maxlength") 密码最多12位
           

        tr
          td(width="15%",class="tableleft") 创建者ID
          td
            input(type="text",name="CreateUserID",ng-model='user.CreateUserID',ng-minlength="6",ng-maxlength='12',required)
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.CreateUserID.$error.minlength") 创建者ID为7位
            //- small.error(ng-show="userInfo.CreateUserID.$error.maxlength") 创建者ID为7位
           
        tr
          td(width="15%",class="tableleft") 修改者ID (选填项)
          td
            input(type="text",name="EditUserID",ng-model='user.EditUserID',ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.EditUserID.$error.minlength") 修改者ID
            //- small.error(ng-show="userInfo.EditUserID.$error.maxlength") 修改者ID
            
        tr
          td(width="15%",class="tableleft") 班级 (选填项)
          td
            input(type="text",name="ClassID",ng-model='user.ClassID',ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.ClassID.$error.minlength") 班级ID
            //- small.error(ng-show="userInfo.ClassID.$error.maxlength") 班级ID
          
        tr
          td(width="15%",class="tableleft") 电话号码 (选填项)
          td
            input(type="number",name="Phone",ng-model="user.Phone",ng-minlength="11",ng-maxlength='11')
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.Phone.$error.minlength") 电话号码为11位
            //- small.error(ng-show="userInfo.Phone.$error.maxlength") 电话号码为11位
            
        tr
          td(width="15%",class="tableleft") 地址 (选填项)
          td
            input(type="text",name="Address",ng-model="user.Address",ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.Address.$error.minlength") 填写地址
            //- small.error(ng-show="userInfo.Address.$error.maxlength") 填写地址
           
        tr
          td(width="15%",class="tableleft") 大学ID (选填项)
          td
            input(type="text",name="CollegeID",ng-model='user.CollegeID',ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="userInfo.CollegeID.$error.minlength") 填写大学ID
            //- small.error(ng-show="userInfo.CollegeID.$error.maxlength") 填写大学ID
           

        tr
          td(width="15%",class="tableleft") 备注 (选填项)
          td
            input(type="text",name="Memo",ng-model='user.Memo',ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="") 填写备注
            //- small.error(ng-show="") 填写备注
            
        tr
          td(width="15%",class="tableleft") 邮箱 (选填项)
          td
            input(type="email",name="roleCode",ng-model='user.Email',ng-minlength="3",ng-maxlength='10')
            &nbsp&nbsp
            //- small.error(ng-show="") 请填写正确的邮箱地址
            //- small.error(ng-show="") 请填写正确的邮箱地址
           
        tr
          td(class="tableleft") 活跃度
          td
            input(type="radio",name="isActive",value="1",ng-model="user.IsActive",checked)
            活跃
            &nbsp&nbsp            
            input(type="radio",name="isActive",ng-model="user.IsActive",value="0")
            非活跃

        tr
          td(class="tableleft")
          td
            button.btn.btn-primary(type="submit",ng-click="submitusera(user)") 添加
            &nbsp&nbsp&nbsp&nbsp
            button.btn.btn-success(href='#sfms/user') 返回列表



 include ../shared/footer.jade  
      