block content
  //div(ng-controller="sfmsIndexController")
  jason-pagecontent(action='/backuser' conf='paginationConf')
    div.page-header
      div.buttons.text-right
        a.btn.btn-success(href='#/sfms/userinfo')
          i.icon.icon-plus 新建
        button(ng-click='search()' class='btn btn-default') 刷新
    div.page-content
      ng-form.form-inline
        label.form-group.my-form-group
          input.form-control(placeholder='名称' ng-model='f.text')
        label.form-group.my-form-group
          input.form-control(placeholder='所属类别')
        label.form-group.my-form-group
          button.btn.btn-primary(ng-click='search()') 确定
      table.table.table-striped.table-bordered.text-center
        thead
          tr
            th AccountID
            th ApplicationID
            th UserName
            th Is Active
            th CreateTime
            th Pwd
            th CreateUserID
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{x.AccountID}}
            td {{x.ApplicationID}}
            td {{x.UserName}}
            td {{x.IsActive}}
            td {{x.CreateTime}}
            td {{x.Pwd}}
            td {{x.CreateUserID}}
            td
              a(ng-href='')
                i.icon.icon-edit 编辑
              a(ng-href='')
                i.icon.icon-trash 删除
      div.pull-right
        jason-pagination(conf='paginationConf')
