doctype html
html
  head
    title= title
    link(rel='icon', href='/images/favicon.ico')     
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/sfms/style.css')   
    script(src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')  

    
    
    
    
     
  body(ng-app="myApp")  
    block content
