.table.table-bordered thead tr th {
    vertical-align: middle;
    text-align: center;
}
.dropdown-menu{
    position: absolute;
    top: 30px;
    left: 120px;
}
jason-select{
    width:120px;height:34px;
}
.title{
    font-size: 24px;
}
.ext{
    width:130px;height:34px;
}
.est{
     width:90px;height:34px;
}
.btt{
    padding:0px;
    border-radius: 10px;
    text-align: center;
}
table .arrow{
    display: none;
}
@media only screen and (max-width: 991px) {
    .box{
        margin-left: 50px;
    }
}