extends shared/layout.jade

block content
  div.user
    h4.page-header 编辑个人信息
    div
      form
        div.form-group.col-sm-5.col-md-5.pull-right.right
          img.nav-user-photo(src="imgs/sfms/user_pic.png" alt="Jason's Photo")
          br
          button.btn.btn-primary 更换头像
        div.form-group.col-sm-4.col-md-5
          label 账号  ：  
          div 11145
        div.form-group.col-sm-4.col-md-5
          label.control-label 用户名 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 密码 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 电话号码 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 邮箱地址 ：
          div
            input(type='email')
        div.form-group.col-sm-4.col-md-5
          label.control-label 家庭住址 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 创建时间 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 创建人ID ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 所在项目 ：
          div
            input(type='text')
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 最近编辑时间 ：
          div
            input(type='text')
        div.form-group.col-sm-4.col-md-5
          label.control-label 最近编辑ID ：
          div
            input(type='text')
            div.form-group
        div.form-group.col-sm-4.col-md-5
          label.control-label 是否有效 ：
          div
            input(type='radio' style ="width:20px;margin-right:10px;" checked)
            span(style ="width:20px;margin-right:20px;" ) 有效
            input(type='radio' style ="width:20px;margin-right:10px;")
            span  无效  

        div.form-group.col-sm-4.col-md-4
          label 所在学院 ：
          select.form-control
            option 1
            option 4
            option 4
            option 5
            option 5
        div.form-group.col-sm-5.col-md-5
          a.btn.btn-lg.btn-danger.pull-right(style="color:white;margin-right:10px;") 取消
          a.btn.btn-lg.btn-primary.pull-right(style="color:white;margin-right:10px;") 确认
      
          
          
        
 include shared/footer.jade





