doctype html
html
  head
    title= title

    link(rel='icon', href='/images/favicon.ico')   
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='bower_components/bootstrap-select/dist/css/bootstrap-select.css ')   
    link(rel='stylesheet', href='css/login/login.css')  
    link(rel='stylesheet', href='css/backend/backend.css')       

   
  body(ng-app="myApp" ng-controller='baseController')  
    block content
