doctype html
html
  head
    title= title

    link(rel='icon', href='/images/favicon.ico')   
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='css/login/login.css')  
    link(rel='stylesheet', href='css/sfms/sfms.css')       
    script(src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js")
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')  
    script(src='bower_components/angular/angular.js')  
    script(src='bower_components/angular/angular-route.js')  
    
    

     
 

    link(rel='icon', href='/images/favicon.ico')
    script(src="bower_components/jquery/dist/jquery.js")
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet",href="bower_components/bootstrap/Font-Awesome-3.2.1/css/font-awesome.css")
    link(rel='stylesheet', href='css/style.css')
    script(src="js/roleController.js") 
    script(src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular/angular.min.js")
    script(src="bower_components/angular/angular-route.js")
    script(src="bower_components/angular/angular-route.min.js")
    

   
  body(ng-app="myApp")  

    block content
