link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 应用编辑
    form(method="post",name="appinfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用号 
          td
            input(type="textview",name="ApplicationCode",ng-model='formdata.ApplicationCode',ng-maxlength='50')
            &nbsp&nbsp
            small.error(ng-show="formdata.ApplicationCode.$error.maxlength && formdata.ApplicationCode.$touched") 应用CODE最多50位

           
        tr
          td(width="15%",class="tableleft") 	应用名称 
          td
            input(type="textview",name="ApplicationName",ng-model="formdata.ApplicationName",ng-maxlength='50')
            &nbsp&nbsp
            small.error(ng-show="formdata.ApplicationName.$error.maxlength && formdata.ApplicationName.$touched") 应用名称最多50位
           

        tr
          td(width="15%",class="tableleft") 	备注（可选） 
          td
            input(type="textview",name="Memo",ng-model='formdata.Memo',ng-maxlength='200')
            &nbsp&nbsp
            small.error(ng-show="formdata.Memo.$error.maxlength && formdata.Memo.$touched") 备注最多200位

            
        tr
          td(class="tableleft") 	是否有效
          td
            input(type="radio",name="IsActive",value="1",ng-model="formdata.IsActive",checked)
            有效
            &nbsp&nbsp            
            input(type="radio",name="IsActive",ng-model="formdata.IsActive",value="0")
            无效


        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(formdata,'/app')") 确认修改
 
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/app') 返回列表



 include ../shared/footer.jade  
      