link(rel="stylesheet",href="/css/zTreeStyle/zTreeStyle.css",style="text/css")
link(rel="stylesheet",href="css/backend/role.css")
script(type="text/javascript" src="/bower_components/jquery/dist/jquery.ztree.core.js")
script(type="text/javascript" src="/bower_components/jquery/dist/jquery.ztree.exedit.js")
script(type="text/javascript" src="/js/metro.js")
block content
    ng-form.form-inline
      a.btn.btn-sm.btn-default(href='#/backend/functionAdd')
        i.icon.icon-plus 新建
      a.btn.btn-sm.btn-primary(ng-click="show(func.id,'/func')",href='#/backend/functionEdit/')
        i.icon.icon-edit 编辑
      a.btn.btn-sm.btn-success(ng-click="remove($index,'/func')")
        i.icon.icon-trash 删除
      button(ng-click='search()' class='btn btn-sm btn-default') 刷新
    div(style="padding:60px 100px;background-color:#fbfbfb; border:1px solid #999;")
        ul.ztree(id="treeDemo")