block content
    div.container-fluid(ng-controller='functionController')
        div.row
            div.col-lg-7.col-md-7.col-sm-7
                tree-grid(tree-data="tree_data" col_defs='col_defs' expand-on="expanding_property" expandOn="ApplicationID" on-clickdelete='delete(branch,parent)' on-clickedit='clickHanderedit(branch)'  on-click='clickHander(branch)' on-clickadd='clickHanderAdd(branch)')
            div.col-lg-4.col-md-4.col-sm-4(style='border:1px solid black')
                h4功能点编辑
                form.form-horizontal(role='form')
                    div.form-group
                        label.col-sm-2.control-label 应用ID
                        div.col-sm-10
                            jason-select.input(ng-model='currentData.ApplicationID',name='ApplicationID' source='/app' stext='ApplicationName' svalue='ID',required,disabled='disable')
                    div.form-group
                        label.col-sm-2.control-label 父节点
                        div.col-sm-10
                            input(type='text' ng-model='currentData.ParentID',disabled='disable')
                    div.form-group
                        label.col-sm-2.control-label 节点层级
                        div.col-sm-10
                            input(type='text' ng-model='currentData.FunctionLevel',disabled='disable')
                    div.form-group
                        label.col-sm-2.control-label 功能名称
                        div.col-sm-10
                            input(type='text' ng-model='currentData.FunctionName',ng-disabled='disable')
                    div.form-group
                        label.col-sm-2.control-label 功能代码
                        div.col-sm-10
                            input(type='text' ng-model='currentData.FunctionCode',ng-disabled='disable')
                    div.form-group
                        label.col-sm-2.control-label 是否在线
                        div.col-sm-10
                            input(type='checkbox' ng-model='currentData.IsActive' ng-checked='currentData.IsActive==1',ng-disabled='disable')
                    div.form-group.row.text-center
                        button.btn.btn-primary(ng-click='edit()') {{btnSaveMessage}}
                        button.btn.btn-primary(style='margin-left:20px;' ng-click='cancel()')取消
        div.modal.fade(id='functionModel')
            div.modal-dialog
                div.modal-content
                    div.modal-header
                        button.close(type='button', data-dismiss='modal')
                            span(aria-hidden='true') ×
                            span.sr-only Close
                        h4.modal-title {{Config.ModelTitle}}
                    div.modal-body
                        p {{Config.ModelBody}}
                    div.modal-footer
                        button.btn.btn-default(type='button', ng-click='Config.Cancel()') {{Config.BtnCancel}}
                        button.btn.btn-primary(type='button',ng-click='Config.Save()') {{Config.BtnSave}}