extends ../shared/layout

block content
  div.sfms
    div.navbar.navbar-default.navbar-fixed-top(id='navbar')
      div.navbar-container(id='navbar-container')
        div.navbar-haeder.pull-left
          a.navbar-brand(href='#')
            i.glyphicon.glyphicon-tree-conifer  StarkFarm Manage System

        div.navbar-haeder.pull-right
          button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="#navbar-right" aria-expanded="false" aria-controls="navbar-right")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar

          ul.nav.navbar-nav.navbar-collapse.collapse(id='navbar-right')


            li.dropdown
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 项目进度  
                span.badge.badge-important 2
              ul.dropdown-menu(role="menu")
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link

            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 公告通知  
                span.badge.badge-important 8
              ul.dropdown-menu(role='menu')
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 消息提醒  
                span.badge.badge-important 1
              ul.dropdown-menu
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                img.nav-user-photo(src="imgs/backend/user_pic.png" alt="Jason's Photo")
                i.icon-tasks Hello Lee
                span.caret
              ul.dropdown-menu.move-right
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link





 
 
    div.main-container(id='main-container')
      div.main-container-inner

        
          div.sidebar.col-sm-3.col-md-2.hidden-print.affix(id='sidebar')

            ul.nav.navlist(id='app')
              span.list-header 应用
              li
                a.accordion-toggle(href='#one' data-parent="#app" data-toggle="collapse" )
                  span.menu-text 
                    span.glyphicon.glyphicon-home   应用管理
                    span.caret
                ul.collapse(id='one')
                  li
                    a(href='#')  用户管理的
                  li
                    a(href='#/computers') 用户管理
                  li
                    a(href='#/printers')  用户得管理
                  li
                    a(href='#/blabla')  用户管理
              li
                a.accordion-toggle(href='#two' data-parent="#app" data-toggle="collapse" )
                  span.menu-text 
                    span.glyphicon.glyphicon-home   应用管理
                    span.caret
                ul.collapse(id='two')
                  li
                    a(href='#')  用户管理
                  li
                    a(href='#') 用户管理
                  li
                    a(href='#')  用户管理
                  li
                    a(href='#')  用户管理
              li
                a.active(href='#')
                  span.glyphicon.glyphicon-tag   应用管理
                  span.border
            hr
            
            ul.nav.navlist(id='menu')   
              span.list-header 菜单
              li 
                a.accordion-toggle(href='#fir' data-toggle="collapse" )
                  span.menu-text 
                    span.glyphicon.glyphicon-wrench   菜单设置
                      span.caret
                ul.submenu.panel-collapse.collapse(id='fir')
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理

              li 
                a.accordion-toggle(href='#sec' data-toggle="collapse" )
                  span.menu-text 
                    span.glyphicon.glyphicon-stats   项目设置
                      span.caret
                ul.submenu.panel-collapse.collapse(id='sec')
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理
                  li
                    a(href='#')  菜单管理

              li
                a
                  span.glyphicon.glyphicon-credit-card   项目设置
                  span.border
              li
                a
                  span.glyphicon.glyphicon-send   项目设置
                  span.border




        div.container(ng-view)

          include ../shared/footer.jade









