extends ../shared/layout

block content
  div.sfms
    div.navbar.navbar-default.navbar-fixed-top(id='navbar')
      div.navbar-container(id='navbar-container')
        div.navbar-haeder.pull-left
          a.navbar-brand(href='#')
            i.glyphicon.glyphicon-tree-conifer  StarkFarm Manage System

        div.navbar-haeder.pull-right
          button.navbar-toggle.collapsed( type="button" data-toggle="collapse" data-target="#navbar-right" aria-expanded="false" aria-controls="navbar-right")
            span.sr-only
            span.icon-bar
            span.icon-bar
            span.icon-bar

          ul.nav.navbar-nav.navbar-collapse.collapse(id='navbar-right')


            li.dropdown
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 项目进度  
                span.badge.badge-important 2
              ul.dropdown-menu(role="menu")
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link

            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 公告通知  
                span.badge.badge-important 8
              ul.dropdown-menu(role='menu')
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                i.icon-tasks 消息提醒  
                span.badge.badge-important 1
              ul.dropdown-menu
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
            li
              a.dropdown-toggle(href='#'  data-toggle="dropdown")
                img.nav-user-photo(src="imgs/backend/user_pic.png" alt="Jason's Photo")
                i.icon-tasks Hello Lee
                span.caret
              ul.dropdown-menu.move-right
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link
                li 
                  a(href="#") Link





 
 
    div.main-container(id='main-container')
      div.main-container-inner
        div.sidebar.col-sm-3.col-md-2.hidden-print.affix(id='sidebar' ng-controller="menucontroller" )

           
            ul.nav.navlist
              span.list-header 菜单显示
              li(ng-repeat="x in menu") 
                a.accordion-toggle(href='#{{x.ID}}' data-toggle="collapse" )
                  span.menu-text  
                    span.glyphicon.glyphicon-home   {{x.MenuName}}   
                    span.caret
                ul.collapse(id='{{x.ID}}')
                  li(ng-repeat="y in x.children") 
                    a(href="{{y.Url}}")  {{y.MenuName}}
               

            

        div.container(ng-view)
          
      include ../shared/footer.jade









