link(rel='stylesheet', href='css/backend/backend.css')   
block content
  jason-pagecontent(action='/backmenu/plain' conf='paginationConf')
    div.page-content
      ng-form.form-inline
        label.form-group.my-form-group
          jason-select.form-control(placeholder='应用名称'  style="width:120px;" ng-model='f.ID' source='/app' stext='ApplicationName' svalue='ID')
        label.form-group.my-form-group
          jason-select.form-control(placeholder='菜单名称'  style="width:120px;" ng-model='f.MenuID' source='/backmenu/plain' stext='MenuName' svalue='MenuID')
        label.form-group.my-form-group
          button.btn.btn-sm.btn-primary(ng-click='search()') 查询
        div.buttons.pull-right
          a.btn.btn-sm.btn-success(ng-href='#/backend/menuinfo')
            i.icon.icon-plus 新建
          button(ng-click='search()' class='btn btn-sm	 btn-default') 刷新
      hr
      table.table.table-striped.table-bordered.text-center
        thead.text-center 
          tr  
            th 序号 
            th 应用名称
            th 菜单名称
            th 菜单路径
            th 操作
        tbody
          tr(ng-repeat="x in datas")
            td {{$index+1}}
            td {{x.ApplicationName}}
            td {{x.MenuName}}
            td {{x.Url}} 
            td
              a(href='#/backend/menuedit/?MenuID={{x.MenuID}}' )
                i.icon.icon-edit 编辑
              a(ng-click="remove($index,'/backmenu')")
                i.icon.icon-trash 删除
      div.pull-right
        jason-pagination(conf='paginationConf')
