link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid
    span 
      h2 角色编辑
    form(method="post",name="roleAddForm") 
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用名称
          td
            jason-select.input(placeholder='应用名称' ng-model='f.ApplicationName' source='/app', stext='ApplicationName' svalue='ID',style="width:160px;height:30px",required)
           
         tr
          td(width="15%",class="tableleft") 角色名称
          td
            input(type="text",name="roleName",ng-model="formdata.RoleName",ng-minlength="3",ng-maxlength=10,style="width:160px;height:30px",required)
            &nbsp&nbsp
            span.error(ng-show="roleAddForm.roleName.$dirty &&roleAddForm.roleName.$invalid")
              small.error(ng-show="roleAddForm.roleName.$error.minlength") 角色名称至少三位
              small.error(ng-show="roleAddForm.roleName.$error.maxlength") 角色名称最多十位
        tr
          td(width="15%",class="tableleft") 角色代码
          td
            input(type="text",name="roleCode",ng-model="formdata.RoleCode",ng-minlength="3",ng-maxlength=10,style="width:160px;height:30px",required)
            &nbsp&nbsp
            span.error(ng-show="roleAddForm.roleCode.$dirty &&roleAddForm.roleCode.$invalid")
              small.error(ng-show="roleAddForm.roleCode.$error.minlength") 角色号至少三位
              small.error(ng-show="roleAddForm.roleCode.$error.maxlength") 角色号最多十位     
        tr
          td(class="tableleft") 是否有效
          td
            input(type="radio",name="isActive",value="1",ng-model="formdata.IsActive",checked)
            有效
            &nbsp&nbsp&nbsp
            input(type="radio",name="isActive",ng-model="formdata.IsActive",value="0")
            无效
        tr
          td(class="tableleft") 权限树
          td(class="tree well")
            ul
              li
                  span
                    i(class="icon-folder-open")
                  input(type="checkbox",value="",class="tree_node_parent_checkbox",ng-model="formdata.funcdata.parent1")
                  权限
                  ul
                    li
                      i(class="icon-leaf")  
                        input(type="checkbox",value="1",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child11")
                        权限列表
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="2",class="tree_node_child_checkbox",ng-model="formdata.funcdatachild12")
                        添加权限
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="3",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child13")
                        编辑权限
                     li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="4",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child14")
                        删除权限
              li
                  span
                    i(class="icon-folder-open")
                  input(type="checkbox",value="",class="tree_node_parent_checkbox",ng-model="formdata.funcdata.parent2")
                  角色
                  ul
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="5",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child21")
                        角色列表
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="6",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child22")
                        添加角色
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="7",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child23")
                        编辑角色
                     li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="8",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child24")
                        删除角色
      
              li
                  span
                    i(class="icon-folder-open")
                  input(type="checkbox",value="",class="tree_node_parent_checkbox",ng-model="formdata.funcdata.parent3")
                  用户
                  ul
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="9",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child31")
                        用户列表
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="10",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child32")
                        添加用户
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="11",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child33")
                        编辑用户
                     li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="12",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child34")
                        删除用户
              li
                  span
                    i(class="icon-folder-open")
                  input(type="checkbox",value="",class="tree_node_parent_checkbox",ng-model="formdata.funcdata.parent4")
                  菜单
                  ul
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="13",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child41")
                        菜单列表
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="14",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child42")
                        添加菜单
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="15",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child43")
                        编辑菜单
                     li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="16",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child44")
                        删除菜单
              li
                  span
                    i(class="icon-folder-open")
                  input(type="checkbox",value="",class="tree_node_parent_checkbox",ng-model="formdata.funcdata.parent5")
                  功能点
                  ul
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="17",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child51")
                        功能点
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="18",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child52")
                        添加功能点
                    li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="19",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child53")
                        编辑功能点
                     li
                      i(class="icon-leaf") 
                        input(type="checkbox",value="20",class="tree_node_child_checkbox",ng-model="formdata.funcdata.child54")
                        删除功能点
        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(formdata,'/backrole')") 确认修改
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#backend/role') 返回列表
            
 script(src="js/roleAdd.js")
 include ../shared/footer.jade  
      