block content
  div.container-fluid(ng-controller='roleEditController')
    span 
      h2 角色编辑
    form(method="post",source='/backrole' conf='paginationConf')
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用名称
          td
            jason-select.input(placeholder='应用名称' ng-model='paginationConf.paginationConf.formdata.ApplicationName' source='/app', stext='ApplicationName' svalue='ApplicationName',style="width:160px;height:30px",required)

         tr
          td(width="15%",class="tableleft") 角色名称
          td
            input(type="text",name="roleName",ng-model="paginationConf.formdata.RoleName",ng-minlength="3",ng-maxlength=10,style="width:160px;height:30px",required)
            &nbsp&nbsp
            span.error(ng-show="paginationConf.formdata.RoleName.$dirty &&paginationConf.formdata.RoleName.$invalid")
              small.error(ng-show="paginationConf.formdata.RoleName.$error.minlength") 角色名称至少三位
              small.error(ng-show="paginationConf.formdata.RoleName.$error.maxlength") 角色名称最多十位
        tr
          td(width="15%",class="tableleft") 角色代码
          td
            input(type="text",name="roleCode",ng-model="paginationConf.formdata.RoleCode",ng-minlength="3",ng-maxlength=10,style="width:160px;height:30px",required)
            &nbsp&nbsp
            span.error(ng-show="paginationConf.formdata.RoleCode.$dirty &&paginationConf.formdata.RoleCode.$invalid")
              small.error(ng-show="paginationConf.formdata.RoleCode.$error.minlength") 角色号至少三位
              small.error(ng-show="paginationConf.formdata.RoleCode.$error.maxlength") 角色号最多十位     
        tr
          td(class="tableleft") 是否有效
          td
            input(type="radio",name="isActive",value="1",ng-model="paginationConf.formdata.IsActive",checked,style="width:15px;height:15px")
            有效
            &nbsp&nbsp&nbsp
            input(type="radio",name="isActive",ng-model="paginationConf.formdata.IsActive",value="0",style="width:15px;height:15px")
            无效
        tr
          td(class="tableleft") 权限树
          td
            div
              tree-grid(tree-data="tree_data" col_defs='col_defs' expand-on="expanding_property" expandOn="ApplicationID" on-check='clickHander(branch,parent)' showCheck='true')
        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="newedit(paginationConf.formdata,'/backrole')") 确认修改
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#backend/role') 返回列表
