block content
  jason-pagecontent(action='/backuser' conf='paginationConf')
    div.modal.fade(id="myModal",tabindex="-1",role="dialog",aria-labelleby="myModalLabel",aria-hidden="true")
            div.modal-dialog
                div.modal-content
                   div.modal-body 
                        h4.modal-title(id="myModalLabel") 用户对应角色和菜单
                          button.close(type="button",data-dismiss="modal")
                            span(aria-hidden="true")&times;                
                        table.table.table-striped.table-bordered.text-center
                            thead
                                tr
                                  th 角色
                                  th 菜单
                            tbody
                                tr(ng-repeat="data in data")
                                    td {{data.FunctionID}}
                                    td {{data.FunctionName}}


                        button.btn.btn-default(type="button",data-dismiss="modal") Close
    div.page-content
      ng-form.form-inline
        label.form-group.my-form-group
          input.form-control(placeholder='账户ID' style="width:100px;" ng-model='f.AccountID')
        label.form-group.my-form-group
          input.form-control(placeholder='应用ID'  style="width:100px;" ng-model='f.ApplicationID')
        label.form-group.my-form-group
          input.form-control(placeholder='用户名'  style="width:100px;" ng-model='f.UserName')
        //- label.form-group.my-form-group
        //-   input.form-control(placeholder='Is Active'  style="width:100px;" ng-model='f.IsActive')
        //- label.form-group.my-form-group
        //-   input.form-control(placeholder='CreateTime'  style="width:100px;" ng-model='f.CreateTime')
        label.form-group.my-form-group
          input.form-control(placeholder='创建者ID'  style="width:100px;" ng-model='f.CreateUserID')
        
        
        label.form-group.my-form-group
          button.btn.btn-sm.btn-primary(ng-click='search()') 查询
        div.buttons.pull-right
          a.btn.btn-sm.btn-success(href='#/backend/userinfo')
            i.icon.icon-plus 新建
          button(ng-click='search()' class='btn btn-sm btn-default') 刷新
      hr
      table.table.table-striped.table-bordered.text-center
        thead
          tr 
            th 序号
            th 账户ID
            th 应用ID
            th 用户名
            th 创建时间
            th 创建者ID
            th 操作
        tbody
          tr(ng-repeat="x in datas" )
            td {{$index+1}}
            td {{x.AccountID}}
            td {{x.ApplicationID}}
            td {{x.UserName}}
            td {{x.CreateTime}}
            td {{x.CreateUserID}}
            td
              a( href='#/sfms/appedit/:{{x.ID}}')
                i.icon.icon-edit 编辑 
              a(ng-click='remove($index)')
                i.icon.icon-trash 删除
              a( data-toggle="modal",data-target="#myModal",ng-click='more($index)') 
                i.icon.icon-zoom-in  更多
      div.pull-right
        jason-pagination(conf='paginationConf')
