extends ../shared/layout.jade
//- 用户管理页面
block content
  div.user(ng-controller="usercontroller")
    nav.navbar(id='ch-nav')
      span.navbar-brand
        h4 用户管理
      div.navbar-form.navbar-right
        input(type="text" name='username' class="form-control" ng-model="seainfo" placeholder="输入查询条件" required autofocus)
        button.btn.btn-primary(type="submit" ng-click="search(seainfo)") 查 询
        a.btn.btn-primary(type="submit" href='#/add') 新增用户

    div
      div.table-responsive
        table.table.table-hover
          thead
            tr
              th AccountID
              th ApplicationID
              th UserName
              th Is Active
              th CreateTime
              th Pwd
              th CreateUserID
              th.col-sm-2.col-md-2 Edit      
          tbody
            tr(ng-repeat="x in records")
              td {{x.ApplicationID}}
              td {{x.AccountID}}
              td {{x.Username}}
              td {{x.IsActive}}
              td {{x.ApplicationID}}
              td {{x.AccountID}}
              td {{x.Username}}
              td 
                button.btn.btn-warning 编辑

        
      include ../shared/footer.jade





   