link(rel='stylesheet' href="css/backend/role.css")
block content
  div.container-fluid(ng-controller="baseController")
    span 
      h2 用户新增
    form(method="post",name="userInfo" )
      table.table.table-bordered.table-hover.definedwidth.m10
        tr
          td(width="15%",class="tableleft") 应用ID 
          td
            select(id="search",value="",ng-model='user.ApplicationID',style="width:153px;height:30px",required)
              option 1
              option 2
            
        tr
          td(width="15%",class="tableleft") 用户姓名 
          td
            input(type="textview",name="UserName",ng-model='formdata.UserName',ng-maxlength='11')
            &nbsp&nbsp
            small.error(ng-show="formdata.UserName.$error.maxlength && formdata.UserName.$touched") 用户姓名最多11位
           
        tr
          td(width="15%",class="tableleft") 密码 
          td
            input(type="textview",name="Pwd",ng-model="formdata.Pwd",ng-maxlength='50')
            &nbsp&nbsp
            small.error(ng-show="formdata.Pwd.$error.maxlength && formdata.Pwd.$touched") 密码最多50位
           
        tr
          td(width="15%",class="tableleft") 账户名 
          td
            input(type="textview",name="Account",ng-model="formdata.Account",ng-maxlength='50')
            &nbsp&nbsp
            small.error(ng-show="formdata.Account.$error.maxlength && formdata.Account.$touched") 账户最多50位

        //- tr
        //-   td(width="15%",class="tableleft") 创建者ID num
        //-   td
        //-     input(type="textview",name="CreateUserID",ng-model='user.CreateUserID',ng-maxlength='11')
        //-     &nbsp&nbsp
        //-     small.error(ng-show="user.CreateUserID.$error.maxlength && user.CreateUserID.$touched") 创建者ID最多11位
              
        tr
          td(width="15%",class="tableleft") 班级 (可选)  
          td
            select(id="search",value="",ng-model='formdata.ClassID',style="width:153px;height:30px",required)
              option 3
              option 4
        tr
          td(width="15%",class="tableleft") 电话号码 (可选) 
          td
            input(type="number",name="Phone",ng-model="formdata.Phone",ng-maxlength='11',style="width:153px;height:30px")
            &nbsp&nbsp
            small.error(ng-show="formdata.Phone.$error.maxlength && formdata.Phone.$touched") 电话号码11位
            
        tr
          td(width="15%",class="tableleft") 地址 (可选) 
          td
            input(type="textview",name="Address",ng-model="formdata.Address",ng-maxlength='200')
            &nbsp&nbsp
            small.error(ng-show="formdata.Address.$error.maxlength && formdata.Address.$touched") 填写地址
           
        tr
          td(width="15%",class="tableleft") 大学ID (可选) 
          td
            select(id="search",value="",ng-model='formdata.CollegeID',style="width:153px;height:30px",required)
              option f
              option g

        tr
          td(width="15%",class="tableleft") 备注 (可选)  
          td
            input(type="textview",name="Memo",ng-model='formdata.Memo',ng-maxlength='200')
            &nbsp&nbsp
            small.error(ng-show="formdata.Memo.$error.maxlength && formdata.Memo.$touched") 填写备注
            
        tr
          td(width="15%",class="tableleft") 邮箱 (可选)
          td
            input(type="email",name="roleCode",ng-model='formdata.Email',ng-maxlength='50')
            &nbsp&nbsp
            small.error(ng-show="formdata.Email.$error.maxlength && formdata.Email.$touched") 请填写正确的邮箱地址
           
        tr
          td(class="tableleft") 是否有效
          td
            input(type="radio",name="isActive",value="1",ng-model="formdata.IsActive",checked)
            有效
            &nbsp&nbsp            
            input(type="radio",name="isActive",ng-model="formdata.IsActive",value="0")
            无效

        tr
          td(class="tableleft")
          td
            button.btn.btn-sm.btn-primary(type="submit",ng-click="addnew(formdata,'/backuser')") 添加
 
            &nbsp&nbsp&nbsp&nbsp
            a.btn.btn-sm.btn-success(href='#sfms/user') 返回列表



 include ../shared/footer.jade  
      