link(rel='stylesheet', href='css/backend/backend.css')
block content
    jason-pagecontent(action='/jinkeBro/order' conf='paginationConf')
        div.page-content
            ng-form.form-inline
                span.title 订单管理
                    div.buttons.pull-right
                        label.form-group.my-form-group
                            a.btn.btn-sm.btn-primary(ng-click='search()')
                                i.icon.icon-search   查询
                            a.btn.btn-sm.btn-success(href='#/jinkeBro/jitorderAdd')
                                i.icon.icon-plus 新建
                            a.btn.btn-sm.btn-info(ng-click='search()' class='btn btn-sm btn-default')
                                i.icon.icon-repeat  刷新
            hr
            table.table.table-striped.table-bordered.text-center
                thead
                    tr
                        th 序号
                        th 订单ID
                        th 商品名称
                        th 商品数量
                        th 支付方式
                        th 商品的价格
                        th 下单时间
                        th 配送状态
                        th 操作
                tbody
                    tr(ng-repeat="x in datas" )
                        td {{$index+1}}
                        td {{x.OrderID}}
                        td {{x.ProductName}}
                        td {{x.ProductCount}}
                        td {{x.PayMethod}}
                        td {{x.ProductPrice}}
                        td {{x.OrderTime}}
                        td {{x.OrderStatusDesc}}
                        td
                            a(href='#/jinkeBro/jitorderEdit/?OrderID={{x.OrderID}}' )
                                i.icon.icon-edit 编辑
                            a(ng-click="remove($index,'/backuser')")
                                i.icon.icon-trash 删除
                            a(data-toggle="modal",data-target="#myModal",ng-click="moreuser($index,'userrole/userID/')")
                                i.icon.icon-zoom-in  更多
            div.pull-right
                jason-pagination(conf='paginationConf')



