//
   Created by Cecurio on 2017/3/29.
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet',href='css/wechat/wechatshowpersonalorder.css')
  body(ng-app='App',ng-controller='wechatshowpersonalorder')
    div.login
      div.container.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
        h2.form-signin-heading 个人订单
        div.order
          h4 order1
        div.order
          h4 order2 {{order}}
  script(src='assets/js/jquery-2.0.3.min.js')
  script(src='assets/js/bootstrap.min.js')
  script(src='/bower_components/angular/angular.min.js')
  //script(src='/js/angularjs/controller/controllers.js')
  script(src='/js/angularjs/controller/wechatshowpersonalorder.js')
